.container {
 height: calc(100% - 6rem);
 width: 80%;
 margin: auto;
 display: flex;
 flex-wrap: wrap;
 padding: 1rem;
 justify-content: space-around;
}

.buttons button {
  border-radius: 10px;
  margin: .5rem 1rem;
}

.buttons {
  color: black;
  background: rgb(98, 170, 236);
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.enabledButton:hover {
  cursor: pointer;
}

.enabledButton {
  background-color: rgb(79, 134, 212);
  color: white;
}

.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem 0;
}