.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  background-color: rgb(47, 145, 236);
  height: 4rem;
  color: white;
  padding: 0 1rem;
  z-index: 1000;
}

.title {
  font-size: 3rem;
  margin-bottom: 0;
  text-decoration: none;
  color: white;
}

.links {
  display: flex;
}

.links a {
  color: rgb(245, 238, 238);
  font-size: 1.3rem;
  cursor: pointer;
  text-decoration: none;
  padding: 0 2rem;
}

.links a:hover {
  text-decoration: underline;
}